<template>
    <th scope="col">
        <i class="fa fa-fw fa-sort"
           :class="getSort()"
           @click="setSort()"></i> {{ label }}
        <i class=" fa fa-fw fa-search" @click="toggleFilterShow()"></i>
        <input
            type="text"
            v-model.trim="filterVal"
            class="form-control form-control-sm"
            :class="{'hidden': isHidden}">
    </th>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import loDebounce from 'lodash/debounce'

export default {
  name: 'SmartTh',
  props: ['prop', 'label', 'filter'],
  data () {
    return {
      filterVal: '',
      isHidden: true
    }
  },
  computed: {
    ...mapGetters({
      sortSelected: 'sortSelected'
    })
  },
  methods: {
    ...mapActions(['setNewSort', 'applyFiltersAndSort', 'setNewFilters']),
    toggleFilterShow () {
      this.isHidden = !this.isHidden
      if (this.isHidden === true) {
        this.filterVal = ''
      }
    },
    getSort () {
      if (this.sortSelected.field.toString() === this.prop) {
        switch (this.sortSelected.order) {
          case 'desc':
            return 'fa-sort-down'
          case 'asc':
            return 'fa-sort-up'
        }
      }
      return ''
    },
    setSort () {
      // когда одно и тоже поле кликают - менять направление сортировки
      let order = 'desc'
      if (this.sortSelected.field.toString() === this.prop) {
        if (this.sortSelected.order === order) {
          order = 'asc'
        }
      }
      console.log('setSort ', this.prop, order, this.filter)
      this.setNewSort({
        'field': this.prop,
        'order': order,
        'function': this.filter
      }).then(this.applyFiltersAndSort)
    },
    sendNewFilter () {
      this.setNewFilters({'prop': this.prop, 'value': this.filterVal})
        .then(this.applyFiltersAndSort())
    }
  },
  watch: {
    filterVal: function () {
      this.debouncedSendNewFilter()
    }
  },
  created: function () {
    // _.debounce — это функция из lodash, позволяющая ограничить
    // то, насколько часто может выполняться определённая операция.
    this.debouncedSendNewFilter = loDebounce(this.sendNewFilter, 600)
  }
}
</script>

<style scoped>
    .hidden {
        display: none;
    }
</style>
