<template>
    <div>
        <LineChart ref="myChart" :data="dataCollection" :options="lineChartOptions" :height="200"></LineChart>
    </div>
</template>

<script>
import mixinLineChart from './mixinLineChart'
import Api from '../../store/api'
import ChartHelpers from './ChartHelpers'

export default {
  name: 'WeeklyChart',
  mixins: [mixinLineChart],
  data () {
    return {
      // коллекция всех настроек графиков (это добавится в datasets каждого графика)
      // последовательность таже что в запросе метрик к апи
      datasetTemplate: [
        {
          label: ChartHelpers.Const.LABEL_BALANCE,
          backgroundColor: ChartHelpers.Const.COLOR_BALANCE,
          fill: false,
          borderColor: ChartHelpers.Const.COLOR_BALANCE,
          pointBackgroundColor: ChartHelpers.Const.COLOR_BALANCE,
          pointBorderColor: ChartHelpers.Const.COLOR_BALANCE,
          pointRadius: 10,
          pointHoverRadius: 12
        },
        {
          label: ChartHelpers.Const.LABEL_REVENUE,
          backgroundColor: ChartHelpers.Const.COLOR_REVENUE,
          fill: false,
          borderColor: ChartHelpers.Const.COLOR_REVENUE,
          pointBackgroundColor: ChartHelpers.Const.COLOR_REVENUE,
          pointBorderColor: ChartHelpers.Const.COLOR_REVENUE,
          pointRadius: 7,
          pointHoverRadius: 9
        },
        {
          label: ChartHelpers.Const.LABEL_COST,
          backgroundColor: ChartHelpers.Const.COLOR_COST,
          fill: false,
          borderColor: ChartHelpers.Const.COLOR_COST,
          pointBackgroundColor: ChartHelpers.Const.COLOR_COST,
          pointBorderColor: ChartHelpers.Const.COLOR_COST,
          pointRadius: 7,
          pointHoverRadius: 9
        },
        {
          label: ChartHelpers.Const.LABEL_EXPECTED_REVENUE,
          backgroundColor: ChartHelpers.Const.COLOR_EXPECTED_REVENUE,
          fill: false,
          borderColor: ChartHelpers.Const.COLOR_EXPECTED_REVENUE,
          pointBackgroundColor: ChartHelpers.Const.COLOR_EXPECTED_REVENUE,
          pointBorderColor: ChartHelpers.Const.COLOR_EXPECTED_REVENUE,
          pointRadius: 7,
          pointHoverRadius: 9,
          hidden: true,
          borderDash: [5, 5]
        },
        {
          label: ChartHelpers.Const.LABEL_EXPECTED_COST,
          backgroundColor: ChartHelpers.Const.COLOR_EXPECTED_COST,
          fill: false,
          borderColor: ChartHelpers.Const.COLOR_EXPECTED_COST,
          pointBackgroundColor: ChartHelpers.Const.COLOR_EXPECTED_COST,
          pointBorderColor: ChartHelpers.Const.COLOR_EXPECTED_COST,
          pointRadius: 7,
          pointHoverRadius: 9,
          hidden: true,
          borderDash: [5, 5]
        }
      ],
      dataCollection: {},
      lineChartOptions: {
        tooltips: {
          mode: 'index',
          callbacks: {
            label: tooltipItem => this.formatCurrency(tooltipItem.yLabel)
          }
        }
      },
      requestConfig: {
        model: 'Statistic',
        operation: 'get',
        // тип графика = Недельный
        type: Api.Const.CHART_WEEK,
        // в каком формате получить данные
        chartFormat: 'ChartJs',
        // как отформатировать подписи по X (Carbon->formatLocalized() аналог strftime)
        labelFormat: '%d %b %Y',
        // какие метрики вернуть (последовательность равна настройкам в datasetTemplate)
        metrics: [
          [Api.Const.PAYTYPE_REVENUE, Api.Const.PAYTYPE_COST], // суммарная метрика
          Api.Const.PAYTYPE_REVENUE, // простая метрика
          Api.Const.PAYTYPE_COST,
          Api.Const.PAYTYPE_EXPECT_REVENUE,
          Api.Const.PAYTYPE_EXPECT_COST
        ]
      }
    }
  },
  methods: {
    prepareRequest: function () {
      // особенность формирования дат и приведения к .toISOString() (первый день с 2-ки)
      // yyyy-mm-01
      this.requestConfig.fromDate = new Date(this.queryYear, this.queryMonth, 2, 0, 0, 0, 0).toISOString().slice(0, 10)
      // yyyy-mm-31
      this.requestConfig.toDate = new Date(this.queryYear, this.queryMonth + 1, 1, 0, 0, 0, -1).toISOString().slice(0, 10)

      const reqData = JSON.parse(JSON.stringify(this.requestConfig))
      reqData.metrics = JSON.stringify(reqData.metrics)

      return reqData
    }
  }
}
</script>

<style scoped>
</style>
