<template>
    <div class="autocomplete">
        <input type="hidden" :value="value">
        <input
            class="form-control"
            type="text"
            v-model="search"
            @keydown.down="onArrowDown"
            @keydown.up="onArrowUp"
            @keydown.enter.prevent="onEnter"
            @keydown.tab="onEnter"
            @input="onChange">
        <ul v-show="isOpen" class="autocomplete-results">
            <li v-for="(result, i) in results"
                :key="i"
                class="autocomplete-result"
                :class="{ 'is-active': i === arrowCounter }"
                @click="setResult(result)">
                {{ getFullName(result) }}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
  name: 'Autocomplete',
  props: ['arModelData', 'value', 'propName', 'arModelDataFull', 'emptyModel'],
  data () {
    return {
      search: '',
      results: [],
      isOpen: false,
      arrowCounter: -1
    }
  },
  methods: {
    onChange () {
      this.isOpen = true
      this.filterResults()
    },
    filterResults () {
      this.results = this.arModelData.filter(item => {
        let fullName = this.getFullName(item)
        // console.log(fullName)
        return fullName.toLowerCase().indexOf(this.search.toLowerCase()) > -1
      })
      this.results.unshift(this.emptyModel)
    },
    setResult (result) {
      // console.log(result)
      // soft create - если не существует Контрагент создаст его OperationController на бэкенде
      if (!result && this.propName.toString() === 'contractor_id') {
        console.log('softCreate in action!')
        result = {}
        result.id = this.search
        result.name = this.search
      }

      this.search = this.getFullName(result)
      this.isOpen = false

      this.$emit('input', result.id)
    },
    getFullName (obj) {
      let name = obj.name
      if (obj.lastname) {
        name = name + ' ' + obj.lastname
      }
      return name
    },
    setDefaultText (itemId) {
      this.arrowCounter = -1
      this.isOpen = false
      // console.log('setDefaultText call', itemId)
      let obj = this.arModelDataFull.filter(item => item.id === itemId)[0]
      if (obj === undefined) {
        obj = this.emptyModel
      }
      this.search = this.getFullName(obj)
    },
    onArrowDown () {
      if (this.arrowCounter < this.results.length) {
        this.arrowCounter = this.arrowCounter + 1
      }
    },
    onArrowUp () {
      if (this.arrowCounter > 0) {
        this.arrowCounter = this.arrowCounter - 1
      }
    },
    onEnter () {
      this.setResult(this.results[this.arrowCounter])
      this.arrowCounter = -1
      return false
    },
    handleClickOutside (evt) {
      if (!this.$el.contains(evt.target)) {
        this.isOpen = false
        this.arrowCounter = -1
      }
    }
  },
  mounted () {
    document.addEventListener('click', this.handleClickOutside)
  },
  destroyed () {
    document.removeEventListener('click', this.handleClickOutside)
  }
}
</script>

<style scoped>
    .autocomplete {
        position: relative;
    }

    .autocomplete-results {
        padding: 0;
        margin: 0;
        border: 1px solid #eeeeee;
        /*height: 120px;*/
        overflow: auto;
        position: absolute;
        background: #fff;
    }

    .autocomplete-result {
        list-style: none;
        text-align: left;
        padding: 10px 5px;
        cursor: pointer;
    }

    .autocomplete-result.is-active,
    .autocomplete-result:hover {
        background-color: #4AAE9B;
        color: white;
    }
</style>
