<template>
    <div>
        <div class="large-12 medium-12 small-12 cell form-inline mb-2">
            <div class="form-group">
                <label for="file"></label>
                <input type="file" class="form-control-file" id="file" ref="file" @change="onFileChange()">
            </div>
            <button class="btn btn-sm btn-warning" @click="submitFile()">
                <i class="fa" :class="{'fa-spin fa-spinner': in_progress}"></i> Загрузить
            </button>
        </div>
        <div class="alert alert-danger text-center" v-show="show_error">
            {{errorText}}
        </div>
        <table class="table" v-show="show_result">
            <thead>
            <tr>
                <th scope="col">Добавлено в расходы</th>
                <th scope="col">Добавлено в приходы (без счета в Bitrix24)</th>
                <th scope="col">Обновлено счетов в Bitrix24</th>
            </tr>
            </thead>
            <tbody>
            <tr v-show="isDemo">
                <td colspan="3" class="text-center">В демо режиме файл в приложение не загружается</td>
            </tr>
            <tr>
                <td>{{result.count_cost}}</td>
                <td>{{result.count_revenue_insert}}</td>
                <td>{{result.count_revenue_update_in_b24}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import Api from '../../store/api'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'BillFileUpload',
  data () {
    return {
      file: '',
      in_progress: false,
      show_result: false,
      show_error: false,
      errorText: '',
      result: {
        count_cost: 0,
        count_revenue_insert: 0,
        count_revenue_update_in_b24: 0
      }
    }
  },
  computed: {
    ...mapGetters(['isDemo'])
  },
  methods: {
    ...mapActions(['getOperationData']),
    submitFile () {
      if (!this.file || this.file.length === 0) {
        this.show_error = true
        this.errorText = 'Выберите файл'
        return
      }

      let formData = new FormData()
      formData.append('file', this.file)

      this.in_progress = true
      this.show_result = false
      this.show_error = false
      this.errorText = ''

      if (!this.isDemo) {
        const that = this
        Api.sendFile(formData).then(function (res) {
          that.showResult(res)
        }).catch(function (res) {
          console.log(res)
        })
      } else {
        setTimeout(function (that) {
          that.showResult({})
        }, 500, this)
      }
    },
    onFileChange () {
      this.file = this.$refs.file.files[0]
    },
    showResult (res) {
      if (!this.isDemo) {
        const result = res.data.main
        // ошибка
        if (result.error === true) {
          this.show_error = true
          this.errorText = result.msgHuman
          console.log(result)
        } else {
          // все гуд, выводим статус и обновим операции тек месяца
          for (let field in result) {
            if (result.hasOwnProperty(field)) {
              this.result[field] = result[field]
            }
          }
          this.show_result = true
          this.getOperationData()
        }
      }
      this.in_progress = false
    }
  }
}

</script>

<style scoped>

</style>
