<template>
    <span>{{ animatedNumber }}</span>
</template>

<script>
import { TweenLite } from 'gsap/TweenLite'

export default {
  props: {
    value: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      tweenedNumber: 0,
      formatter: new Intl.NumberFormat('ru-RU', {style: 'currency', currency: 'RUB', maximumFractionDigits: 0, minimumFractionDigits: 0})
    }
  },
  methods: {
    toLocale (value) {
      return this.formatter.format(value)
    }
  },
  computed: {
    animatedNumber: function () {
      return this.toLocale(this.tweenedNumber)
    }
  },
  watch: {
    value: function (newValue) {
      TweenLite.to(this.$data, 0.5, {tweenedNumber: newValue})
    }
  }
}
</script>
