<template>
    <div class="d-inline">
        <a class="btn btn-sm btn-outline-dark mb-2 mx-3" href="#" @click.prevent="triggerOpsUpdate({change: -1})">
            <i class="fa fa-arrow-circle-left"></i> {{prevMonth}}
        </a>
        <span class="btn btn-sm btn-outline-dark mb-2 disabled border-0 text-primary">
                {{currMonth}}
            </span>
        <a class="btn btn-sm btn-outline-dark mb-2 mx-3" :class="hideWhenMonthInFuture"
           href="#" @click.prevent="triggerOpsUpdate({change: 1})">
            {{nextMonth}} <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'MonthSelector',
  computed: {
    ...mapGetters(['queryMonth', 'queryYear']),
    nextMonth: function () {
      let date = this.getCurDate()
      date.setMonth(date.getMonth() + 1)
      const month = new Intl.DateTimeFormat('ru-RU', { month: 'long' }).format(date)
      return month + ' ' + date.getFullYear()
    },
    prevMonth: function () {
      let date = this.getCurDate()
      date.setMonth(date.getMonth() - 1)
      const month = new Intl.DateTimeFormat('ru-RU', { month: 'long' }).format(date)
      return month + ' ' + date.getFullYear()
    },
    currMonth: function () {
      let date = this.getCurDate()
      const month = new Intl.DateTimeFormat('ru-RU', { month: 'long' }).format(date)
      return month + ' ' + date.getFullYear()
    },
    hideWhenMonthInFuture: function () {
      let dateSelected = this.getCurDate()
      dateSelected.setMonth(dateSelected.getMonth() + 1)
      let dateReal = new Date()
      // console.log('hideWhenMonthInFuture', dateSelected, dateReal)
      // console.log('hideWhenMonthInFuture dateSelected > dateReal', dateSelected.getTime() > dateReal.getTime())
      return (dateSelected.getTime() > dateReal.getTime()) ? 'hidden' : ''
    }
  },
  methods: {
    ...mapActions(['setQueryMonth', 'getOperationData', 'setAppReadyState']),
    getCurDate () {
      return new Date(this.queryYear, this.queryMonth, 1, 0, 0, 0, 0)
    },
    triggerOpsUpdate (data) {
      this.setQueryMonth(data)
      this.setAppReadyState({status: false})
      this.getOperationData()
    }
  }
}
</script>

<style scoped>
    .hidden {
        display: none !important;
    }
    .btn {
        padding: 0 20px 0 20px;
        width: 10rem;
    }
</style>
