<template>
    <div>
        <div class="large-12 medium-12 small-12 cell form-inline mb-4">
            <div class="form-group mx-3">
                <input type="text" class="form-control" ref="option_new_value" :value="optionValue" @change="onChange()">
            </div>
            <button class="btn btn-sm btn-warning" @click="submit()">
                <i class="fa" :class="{'fa-spin fa-spinner': in_progress}"></i> Загрузить
            </button>
        </div>
        <div class="alert alert-danger text-center" v-show="show_error">
            {{errorText}}
        </div>
        <span v-if="result.length === 0" class="alert alert-info">
            Новых счетов нет
        </span>
        <table v-else class="table" v-show="show_result">
            <thead>
            <tr>
                <th scope="col">Результат</th>
                <th scope="col">Файл</th>
                <th scope="col">Добавлено в расходы</th>
                <th scope="col">Добавлено в приходы (без счета в Bitrix24)</th>
                <th scope="col">Обновлено счетов в Bitrix24</th>
            </tr>
            </thead>
            <tbody>
            <tr v-show="isDemo">
                <td colspan="5" class="text-center">В демо режиме файл в приложение не загружается</td>
            </tr>
            <tr v-for="(data, index) in result" v-bind:key="index">
                <td>
                    <i class="fa fa-times-circle text-danger" v-if="data.error"></i>
                    <i class="fa fa-check-circle text-success" v-else></i>
                </td>
                <td>
                    <p>{{data.file}}</p>
                    <p v-if="data.msgHuman" class="alert alert-danger">
                        {{data.msgHuman}}
                    </p>
                </td>
                <td>{{data.count_cost}}</td>
                <td>{{data.count_revenue_update_in_b24}}</td>
                <td>{{data.count_revenue_update_in_b24}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import Api from '../../store/api'
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'OptionInput',
  props: ['optKey'],
  data () {
    return {
      option_new_value: '',
      in_progress: false,
      show_result: false,
      show_error: false,
      errorText: '',
      result: {}
    }
  },
  computed: {
    ...mapGetters({
      isDemo: 'isDemo',
      arOptions: 'getOptions'
    }),
    optionCurrent: function () {
      if (this.arOptions.filter(item => item.key === this.optKey).length > 0) {
        return this.arOptions.filter(item => item.key === this.optKey)[0]
      }
      return false
    },
    optionValue: function () {
      if (this.optionCurrent) {
        return this.optionCurrent.value
      }
      return ''
    },
    optionId: function () {
      if (this.optionCurrent) {
        return this.optionCurrent.id
      }
      return false
    }
  },
  methods: {
    ...mapActions(['getOperationData', 'actionUpdate']),
    submit () {
      // значение по умолчанию
      if (!this.option_new_value || this.option_new_value.length === 0) {
        this.option_new_value = this.optionValue
      }

      if (
        (!this.option_new_value || this.option_new_value.length === 0) &&
        (!this.optionValue || this.optionValue === 0)
      ) {
        this.show_error = true
        this.errorText = 'Не указан путь к папке'
        return
      }

      this.in_progress = true
      this.show_result = false
      this.show_error = false
      this.errorText = ''
      // console.log(this.option_new_value)

      if (!this.isDemo) {
        // обновление Опций портала
        if (this.option_new_value !== this.optionValue && this.option_new_value.length > 0) {
          this.actionUpdate({
            model: 'Option',
            data: {
              id: this.optionId,
              key: this.optKey,
              value: this.option_new_value
            }
          })
        }
        // запрос на парсинг в бэкенд
        Api.parseYadiskBills({
          operation: 'parseYadiskBills',
          file: this.option_new_value
        }).then(res => {
          this.showResult(res)
        })
      } else {
        setTimeout(function (that) {
          that.showResult({})
        }, 500, this)
      }
    },
    onChange () {
      this.option_new_value = this.$refs.option_new_value.value
    },
    showResult (res) {
      if (!this.isDemo) {
        const result = res.data.main
        // console.log(result)
        // ошибка
        if (result.error === true) {
          this.show_error = true
          this.errorText = result.msgHuman
          console.log(result)
        } else {
          // все гуд, выводим статус и обновим операции тек месяца
          this.result = result
          this.show_result = true
          this.getOperationData()
        }
      }
      this.in_progress = false
    }
  },
  mounted: function () {
    // this.option_new_value = this.optionValue()
  }
}

</script>

<style scoped>

</style>
