<template>
    <div>
        <div class="alert alert-danger">404 - страница не найдена</div>
    </div>
</template>

<script>
export default {
  name: 'page404',
  data () {
    return {}
  }
}
</script>

<style scoped></style>
