<template>
    <div style="display: inline-block">
        &nbsp;<button class="btn btn-secondary btn-sm" data-toggle="tooltip" data-placement="right" v-bind:title="tooltipText">?</button>
    </div>
</template>

<script>
export default {
  name: 'Tooltip',
  props: ['tooltipText']
}
</script>

<style scoped></style>
