.app-loading-msg {
    background: url("../assets/wait-big.gif") no-repeat scroll center center transparent;
    color: #555;
    height: 100px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    /*margin-top: -600px;*/
    /*padding-top: 100px;*/
    position: relative;
    z-index: 1;
}

.app-loading {
    background: url("../assets/wait-big.gif") no-repeat scroll center center transparent;
    color: #000;
    height: 100%;
    width: 100%;
    font-size: 20px;
    text-align: center;
    position: absolute;
    z-index: 1;
}

i.fa {
    cursor: pointer;
}

/*simple animations*/
.list-enter-active, .list-leave-active {
    transition: all 500ms;
}
.list-enter {
    opacity: 0;
    transform: translateY(30px);
}
.list-leave-to {
    opacity: 0;
    transform: translateX(100px);
}