<template>
    <div class="container-fluid">
        <div class="alert alert-info">
            Адрес портала: <b>{{ urlPortalLocal }}</b>
        </div>
        <div class="alert alert-info">
            Ключ приложения: <b>{{ code }}</b>
        </div>
        <div class="alert alert-info">
            <button @click.prevent="updateStatuses">Обновить в базе приложения статусы счетов и лидов</button>
            <div v-if="isStatusUpdateSuccess || isLoading" class="badge badge-success">
                <span v-if="isStatusUpdateSuccess">Ok {{resultText}}</span>
                <i v-if="isLoading" class="fa fa-spin fa-spinner"></i>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import Api from '../store/api'

export default {
  name: 'AppData',
  data () {
    return {
      code: Api.apiCode.code,
      isStatusUpdateSuccess: false,
      isLoading: false,
      resultText: ''
    }
  },
  computed: {
    ...mapGetters(['urlPortal', 'isBx24Ready']),
    urlPortalLocal () {
      if (this.isBx24Ready) {
        return BX24.getDomain()
      }
      return this.urlPortal
    }
  },
  methods: {
    updateStatuses () {
      this.isLoading = true
      this.isStatusUpdateSuccess = false
      Api.updateStatuses({
        model: 'B24Status',
        operation: 'update'
      }).then(res => {
        // console.log(res)
        this.isLoading = false
        this.isStatusUpdateSuccess = true
        this.resultText = 'Статусов загрузили:' + res.data.main.total
      })
    }
  }
}
</script>

<style scoped>

</style>
