<template>
    <div class="container-fluid mt-2">
        <div class="table-responsive">
            <table class="table table-sm">
                <tr>
                    <th>Загрузить счета и обработать</th>
                </tr>
                <tr>
                    <BillFileUpload></BillFileUpload>
                </tr>
                <tr>
                    <th>Загрузить счета из папки Яндекс.Диск (все названия файлов должны быть латинскими буквами)</th>
                </tr>
                <tr>
                    <OptionInput :optKey="yaPath"></OptionInput>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
import BillFileUpload from './other/BillFileUpload'
import OptionInput from './other/OptionInput'

export default {
  name: 'Bills',
  components: {BillFileUpload, OptionInput},
  data () {
    return {
      yaPath: 'YANDEXDISK.BILLS.PATH'
    }
  }
}
</script>

<style scoped>

</style>
