<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <router-link class="navbar-brand alert-link" to="/">Профит24</router-link>
            <span class="badge badge-primary mx-1">Beta</span>
            <div v-show="true === isDemo" class="badge badge-warning">
                Demo
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <router-link class="nav-link" to="/">Сводка</router-link>
                    </li>
                    <li class="nav-item active">
                        <router-link class="nav-link" to="/bills">Счета</router-link>
                    </li>
                    <li class="nav-item active">
                        <router-link class="nav-link" to="/stats">Статистика</router-link>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Настройки
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <router-link class="dropdown-item" to="/setup/firms">Каналы</router-link>
                            <router-link class="dropdown-item" to="/setup/contractors">Контрагенты</router-link>
                            <router-link class="dropdown-item" to="/setup/costs">Фикс. расходы</router-link>
                            <router-link class="dropdown-item" to="/setup/employees">Сотрудники</router-link>
                            <router-link class="dropdown-item" to="/setup/paytypes">Виды платежей</router-link>
                            <router-link class="dropdown-item" to="/setup/appdata">Данные приложения</router-link>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!--hidden login form button-->
        <a data-toggle="modal" data-target="#idLoginForm" id="idLoginFormBtn" data-backdrop="static" data-keyboard="false"></a>
        <LoginByCodeForm></LoginByCodeForm>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
import LoginByCodeForm from './forms/LoginByCodeForm'

export default {
  name: 'Header',
  components: {LoginByCodeForm},
  data () {
    return {}
  },
  computed: {
    ...mapGetters({
      isDemo: 'isDemo'
    })
  }
}
</script>

<style scoped>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>
