<template>
    <div class="container-fluid">
        <Results></Results>
        <ResultsFirm></ResultsFirm>
        <MonthlyTasks></MonthlyTasks>

        <h3 class="d-inline">Операции</h3>
        <div class="d-inline">Всего: {{ arModelData.length }}</div>
        <div v-if="!isAppReady">
            <div class="app-loading-msg">Загрузка данных</div>
        </div>
        <div v-else>
            <AddBtn :model="model"></AddBtn>
            <ModelForm :model="model" :arDefault="arDefault" :arModelData="arModelData"></ModelForm>
            <DeleteForm :arModelData="arModelData"></DeleteForm>

            <div v-if="true === isDemo" class="d-inline">
                <button class="btn btn-sm btn-warning" @click="demo_addRandom(1)">+ случайная сделка</button>
                <button class="btn btn-sm btn-warning" @click="demo_addRandom(25)">+25 случайных сделок</button>
                <button class="btn btn-sm btn-warning" @click="demo_addRandom(100)">+100 случайных сделок</button>
            </div>

            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                    <tr class="no-wrap">
                        <SmartTh :prop="'paytype_id'" :label="'Операция'" :filter="arSortFunc.paytype_id"></SmartTh>
                        <SmartTh :prop="'date'" :label="'Дата'" :filter="arSortFunc.date"></SmartTh>
                        <SmartTh :prop="'firm_id'" :label="'Канал'" :filter="arSortFunc.firm_id"></SmartTh>
                        <SmartTh :prop="'summ'" :label="'Сумма'" :filter="arSortFunc.summ"></SmartTh>
                        <SmartTh :prop="'contractor_id'" :label="'Контрагент'" :filter="arSortFunc.contractor_id"></SmartTh>
                        <SmartTh :prop="'employee_id'" :label="'Сотрудник'" :filter="arSortFunc.employee_id"></SmartTh>
                        <SmartTh :prop="'manager_id'" :label="'Менеджер'" :filter="arSortFunc.manager_id"></SmartTh>
                        <SmartTh :prop="'account'" :label="'Счет'" :filter="arSortFunc.account"></SmartTh>
                        <SmartTh :prop="'comment'" :label="'Комментарий'" :filter="arSortFunc.comment"></SmartTh>
                    </tr>
                    </thead>
                    <transition-group name="list" tag="tbody">
                        <tr v-for="(data, index) in arModelData" v-bind:key="data.id">
                            <td>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <EditBtn :model="model" :index="index"></EditBtn>
                                        <DeleteBtn :model="model" :index="index" :id="data.id"></DeleteBtn>
                                    </div>
                                    <div class="col-sm-9 float-left">
                                        <span v-show="data.paytype_id > 0">
                                            {{ getPaytypeName(data.paytype_id) }}
                                        </span>
                                    </div>
                                </div>
                            </td>
                            <td>{{data.date}}</td>
                            <td>
                                <span v-if="data.firm_id > 0">
                                    {{ getFirmName(data.firm_id) }}
                                </span>
                            </td>
                            <td>
                                <span class="float-right">
                                    {{ formatCurrency(data.summ) }}
                                </span>
                            </td>
                            <td>
                                <span v-if="data.contractor_id > 0">
                                    {{ getCompanyName(data.contractor_id) }}
                                </span>
                            </td>
                            <td>
                                <span v-if="data.employee_id > 0">
                                    {{ getEmployeeName(data.employee_id) }}
                                </span>
                            </td>
                            <td>
                                <span v-if="data.manager_id > 0">
                                    {{ getEmployeeName(data.manager_id) }}
                                </span>
                            </td>
                            <td>
                                <div v-if="data.b24_id > 0">
                                    <a v-bind:href="getAccountUrl(data.b24_id, data.is_lead)" target="_blank">{{data.account}}</a>
                                </div>
                                <div v-else>
                                    {{data.account}}
                                </div>
                            </td>
                            <td>
                                <span>{{data.comment}}</span>
                            </td>
                        </tr>
                    </transition-group>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import model from '../mixins/model'
import helpers from '../mixins/helpers'
import { mapGetters, mapActions } from 'vuex'
import Results from './Results'
import ResultsFirm from './ResultsFirm'
import MonthlyTasks from './MonthlyTasks'
import ModelForm from './forms/OperationForm'
import SmartTh from './tables/SmartTh'

export default {
  name: 'Home',
  mixins: [model, helpers],
  components: {Results, ResultsFirm, ModelForm, SmartTh, MonthlyTasks},
  data () {
    return {
      // объект сущности должно совпадать как на фронте так и на бэкенде
      model: 'Operation',
      // дефолтные поля
      arDefault: {
        'paytype_id': 1,
        'firm_id': '',
        'contractor_id': '',
        'employee_id': '',
        'manager_id': '',
        'summ': 0,
        'date': (new Date()).toISOString().slice(0, 10),
        'b24_id': '',
        'account': '',
        'comment': '',
        'is_lead': '' // формируется ОРМ на бэкенде
      },
      // алгоритмы сортировки для полей FIELD => FUNCTION
      arSortFunc: {
        'paytype_id': 'byFieldValue',
        'date': 'byDate',
        'firm_id': 'byFieldValue',
        'summ': 'byNumber',
        'contractor_id': 'byFieldValue',
        'employee_id': 'byFieldValue',
        'manager_id': 'byFieldValue',
        'account': 'byField',
        'comment': 'byField'
      }
    }
  },
  computed: {
    ...mapGetters({
      isAppReady: 'isAppReady',
      isDemo: 'isDemo',
      arModelData: 'getOperations',
      arPaytypes: 'getPaytypes',
      arEmployees: 'getEmployees',
      arContractors: 'getContractors',
      isBx24Ready: 'isBx24Ready',
      sortSelected: 'sortSelected',
      urlPortal: 'urlPortal'
    }),
    arEmployeeName: function () {
      let result = {}
      this.arEmployees.forEach(item => {
        let isActive = ''
        if (!item.is_active) {
          isActive = ' (увол.)'
        }
        result[item.id] = item.name + ' ' + item.lastname + isActive
      })
      return result
    },
    arContractorName: function () {
      let result = {}
      this.arContractors.map(item => {
        result[item.id] = item.name
      })
      return result
    },
    arPaytypeName: function () {
      let result = {}
      this.arPaytypes.map(item => {
        result[item.id] = item.name
      })
      return result
    }
  },
  methods: {
    ...mapActions(['makeDemoData']),
    demo_addRandom (count = 1) {
      this.makeDemoData({count})
    },
    // Local helpers
    getAccountUrl (id, isLead) {
      let portal = this.urlPortal
      if (this.isBx24Ready) {
        portal = BX24.getDomain()
      }
      if (isLead) {
        return 'https://' + portal + '/crm/lead/details/' + id + '/'
      } else {
        return 'https://' + portal + '/crm/invoice/show/' + id + '/'
      }
    },
    getEmployeeName (id) {
      return this.arEmployeeName[id]
    },
    getPaytypeName (id) {
      return this.arPaytypeName[id]
    },
    getFirmName (id) {
      return this.arContractorName[id]
    },
    getCompanyName (id) {
      return this.arContractorName[id]
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .no-wrap th {
        white-space: nowrap
    }
</style>
