<template>
    <div>
        <button class="btn btn-sm btn-warning mb-2" type="button" data-toggle="collapse" data-target="#collapseMonthly"
                aria-expanded="false" aria-controls="collapseMonthly">
            Ежемесячные задачи
        </button>
        <div class="collapse" id="collapseMonthly" :class="{'op-50': isDemo}">
            <div class="table-responsive">
                <table class="table table-sm">
                    <tr>
                        <th>Неоплаченные счета ({{prevMonth}})</th>
                        <th>Лиды в работе ({{prevMonth}})</th>
                        <th>Зарплата 5-го ({{currMonth}})</th>
                        <th>Зарплата 20-го ({{currMonth}})</th>
                        <th>Фикс. расходы</th>
                    </tr>
                    <tr>
                        <td v-for="(item, field) in MonthlyTask" :key="field">
                            <button v-if="item === 0" class="btn btn-sm btn-warning" @click="startCopyData(field)">
                                <i class="fa" :class="{'fa-spin fa-spinner': arLoading[field]}"></i> Добавить
                            </button>
                            <span v-else class="badge badge-info"><i class="fa fa-check"></i> добавлено</span>
                        </td>
                    </tr>
                </table>
                <div v-if="arErrors[model].length > 0" class="alert alert-danger">
                    {{arErrors[model]}}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'MonthlyTasksView',
  // mixins: [helpers],
  data () {
    return {
      model: 'MonthlyTask',
      arLoading: {
        open_bills: false,
        open_leads: false,
        wage_50: false,
        wage_100: false,
        fixed_costs: false
      }
    }
  },
  computed: {
    ...mapGetters(['queryMonth', 'queryYear', 'MonthlyTask', 'isDemo', 'arErrors']),
    // todo дубли с Results копмонентом
    prevMonth: function () {
      let date = this.getCurDate()
      date.setMonth(date.getMonth() - 1)
      const month = new Intl.DateTimeFormat('ru-RU', {month: 'long'}).format(date)
      return month + ' ' + date.getFullYear()
    },
    // todo дубли с Results копмонентом
    currMonth: function () {
      let date = this.getCurDate()
      const month = new Intl.DateTimeFormat('ru-RU', {month: 'long'}).format(date)
      return month + ' ' + date.getFullYear()
    }
  },
  methods: {
    ...mapActions(['sendTaskRequest']),
    // todo дубли с Results копмонентом
    getCurDate () {
      let date = new Date()
      date.setMonth(parseInt(this.queryMonth))
      date.setFullYear(parseInt(this.queryYear))
      return date
    },
    startCopyData (field) {
      console.log('startCopyData', field)
      this.arLoading[field] = true
      this.sendTaskRequest({
        operation: 'make',
        model: this.model,
        task: field,
        month: this.queryMonth + 1,
        year: this.queryYear
      }).then(function () {
        console.log('after sendTaskRequest (then)')
      })
    }
  },
  watch: {
    MonthlyTask: {
      handler: function (newVal, oldVal) {
        // console.log('---- START watch MonthlyTask ----')
        for (let field in newVal) {
          if (newVal.hasOwnProperty(field) && oldVal.hasOwnProperty(field)) {
            // console.log(field, '| new | old = ', newVal[field], oldVal[field])
            if (newVal[field] === 1) {
              this.arLoading[field] = false
            }
          }
        }
        // console.log('---- END watch MonthlyTask ----')
      },
      deep: true
    }
  }
}
</script>

<style scoped>
    .op-50 {
        opacity: 0.5;
    }
</style>
