<template>
    <div>
        <button class="btn btn-sm btn-success mb-2" type="button" data-toggle="collapse" data-target="#collapseResults"
                aria-expanded="false" aria-controls="collapseResults">
            Подробно по каналам
        </button>
        <div class="collapse" id="collapseResults">
            <div class="table-responsive">
                <table class="table table-sm">
                    <tr v-for="(obj) in arTotalByFirms" v-bind:key="obj.id">
                        <th>{{ arFirms[obj.firm_index].name }}</th>
                        <td>{{ formatCurrency(obj.summ) }}</td>
                        <td colspan="6"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import helpers from '../mixins/helpers'

const loFilter = require('lodash/filter')
const loMap = require('lodash/map')
const loIndexOf = require('lodash/indexOf')
const loReduce = require('lodash/reduce')

export default {
  name: 'ResultsFirm',
  mixins: [helpers],
  data () {
    return {
      arExcludedType: ['TYPE_LEAD', 'TYPE_LEAD_LOST'],
      arCostsIds: [] // массив типов платежей которые в минус
    }
  },
  computed: {
    ...mapGetters({
      arOps: 'getOperations',
      arPaytypes: 'getPaytypes',
      arTypeVariants: 'getPaytypeVariants',
      arContractors: 'getContractors'
    }),
    arFirms: function () {
      return this.arContractors.filter(it => it.is_my === 1)
    },
    arTotalByFirms () {
      if (this.arOps.length === 0) {
        return []
      }

      let arVariants = this.arTypeVariants
      let copyFirms = this.arFirms
      let arExcludedType = this.arExcludedType

      // исключаем операции типа Лид (тянем их ID)
      arExcludedType = loFilter(arVariants, function (o) {
        return (loIndexOf(arExcludedType, o.code) !== -1)
      })
      arExcludedType = loMap(arExcludedType, 'id')
      let arExcludedType2 = loFilter(this.arPaytypes, function (o) {
        return (loIndexOf(arExcludedType, o.type) !== -1)
      })
      arExcludedType = loMap(arExcludedType2, 'id')
      // console.log(arExcludedType)

      // нужно вычленить массив типов платежей которые в минус
      let COSTS_ID = loFilter(arVariants, function (o) {
        return (loIndexOf(['TYPE_COST', 'TYPE_EXPECT_COST'], o.code) !== -1)
      })
      // console.log(COSTS_ID)

      // отбираем все типы платежей (пользовательские с этим COSTS_ID)
      let arCostsIds = loMap(COSTS_ID, 'id')
      let arFilter = loFilter(this.arPaytypes, function (o) {
        return (loIndexOf(arCostsIds, o.type) !== -1)
      })
      // выделяем все ID типов платежей (пользовательских)
      arCostsIds = loMap(arFilter, 'id')
      // console.log(this.arCostsIds)

      let arRes = []
      copyFirms.forEach(function (obj, index) {
        arRes.push({'firm_index': index, 'summ': this.getSummBy(obj.id, arCostsIds, arExcludedType)})
      }, this)

      return arRes
    }
  },
  methods: {
    getSummBy (firmId, arCostsIds, arExcludedType) {
      // let arCostsIds = this.arCostsIds
      return loReduce(this.arOps, function (sum, obj) {
        // пропускаем все Лиды
        if (loIndexOf(arExcludedType, obj.paytype_id) !== -1) {
          return sum + 0
        }

        if (firmId === obj.firm_id) {
          let multi = 1
          if (loIndexOf(arCostsIds, obj.paytype_id) !== -1) {
            multi = -1
          }

          return sum + (multi * parseFloat(obj.summ))
        } else {
          return sum + 0
        }
      }, 0)
    }
  }
}
</script>

<style scoped></style>
