<template>
    <div class="mt-2">
        <MonthSelector></MonthSelector>
        <div class="table-responsive">
            <table class="table table-sm">
                <tr>
                    <th>Итого на счету</th>
                    <td>
                        <CurrencyAnimate :value="fTotalMoney"></CurrencyAnimate>
                        <Tooltip tooltipText="Прибыль + Входящее с прошлого месяца"></Tooltip>
                    </td>
                    <th>Входящее с прошлого месяца</th>
                    <td>
                        <CurrencyAnimate :value="fLastMonthTotal"></CurrencyAnimate>
                        <Tooltip tooltipText="Сумма всех операций 'Перенос'"></Tooltip>
                    </td>
                    <td colspan="6"></td>
                </tr>
                <tr>
                    <th class="table-success">Прибыль</th>
                    <td class="table-success">
                        <CurrencyAnimate :value="fProfit"></CurrencyAnimate>
                        <Tooltip tooltipText="Доходы минус Расходы"></Tooltip>
                    </td>
                    <th class="table-success">Планир + факт. доход</th>
                    <td class="table-success">
                        <CurrencyAnimate :value="(fExpectedRevenue + fRevenue)"></CurrencyAnimate>
                    </td>
                    <td colspan="6" class="table-success"></td>
                </tr>
                <tr>
                    <th class="table-success">Доход</th>
                    <td class="table-success">{{ formatCurrency(fRevenue) }}</td>
                    <th class="table-success">План Доход</th>
                    <td class="table-success">{{ formatCurrency(fExpectedRevenue) }}</td>
                    <th class="table-warning">Лиды</th>
                    <td class="table-warning">{{ formatCurrency(fTotalLeads) }}</td>
                    <th class="table-danger">Расход</th>
                    <td class="table-danger">{{ formatCurrency(fCosts) }}</td>
                    <th class="table-danger">План Расход</th>
                    <td class="table-danger">{{ formatCurrency(fExpectedCosts) }}</td>
                </tr>
            </table>
        </div>
        <div class="mb-2"></div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import CurrencyAnimate from './other/CurrencyAnimate'
import MonthSelector from './other/MonthSelector'
import Tooltip from './other/Tooltip'
import helpers from '../mixins/helpers'

const loFilter = require('lodash/filter')
const loMap = require('lodash/map')
const loIndexOf = require('lodash/indexOf')
const loReduce = require('lodash/reduce')
const loFind = require('lodash/find')

export default {
  name: 'Results',
  mixins: [helpers],
  components: {Tooltip, CurrencyAnimate, MonthSelector},
  data () {
    return {
      fTotalMoney: 0,
      fProfit: 0,
      fRevenue: 0,
      fExpectedRevenue: 0,
      fCosts: 0,
      fExpectedCosts: 0,
      fTotalLeads: 0,
      fLastMonthTotal: 0
    }
  },
  computed: {
    ...mapGetters({
      arOps: 'getOperations',
      arPaytypes: 'getPaytypes',
      arTypeVariants: 'getPaytypeVariants'
    })
  },
  methods: {
    resetAll () {
      this.fRevenue = 0
      this.fCosts = 0
      this.fExpectedRevenue = 0
      this.fExpectedCosts = 0
      this.fLastMonthTotal = 0
      this.fTotalLeads = 0
      this.fProfit = 0
      this.fTotalMoney = 0
    },
    recountOps () {
      this.resetAll()

      if (this.arOps.length === 0 || this.arTypeVariants.length === 0) {
        return
      }
      // console.log(this.arTypeVariants)

      // все что можно посчитать прямо из таблицы операций
      this.fRevenue = this.getSummBy('TYPE_REVENUE')
      this.fCosts = this.getSummBy('TYPE_COST')
      this.fExpectedRevenue = this.getSummBy('TYPE_EXPECT_REVENUE')
      this.fExpectedCosts = this.getSummBy('TYPE_EXPECT_COST')
      this.fLastMonthTotal = this.getSummBy('TYPE_OVER')
      this.fTotalLeads = this.getSummBy('TYPE_LEAD')

      // композитные подсчеты
      this.fProfit = this.fRevenue - this.fCosts
      this.fTotalMoney = this.fLastMonthTotal + this.fProfit
    },
    getSummBy (typeCode) {
      // console.log(typeCode)
      // получаем по коду - ID типа платежа
      let REVENUE_ID = loFind(this.arTypeVariants, {'code': typeCode}).id
      // отбираем все типы платежей (пользовательские с этим REVENUE_ID)
      let arFilter = loFilter(this.arPaytypes, ['type', REVENUE_ID])
      // выделяем все ID типов платежей (пользовательских)
      let arIds = loMap(arFilter, 'id')

      return loReduce(this.arOps, function (sum, obj) {
        if (loIndexOf(arIds, obj.paytype_id) !== -1) {
          return sum + parseFloat(obj.summ)
        } else {
          return sum + 0
        }
      }, 0)
    }
  },
  watch: {
    arOps: function () {
      // console.log('watch arOps')
      this.recountOps()
    }
  },
  mounted () {
    // console.log('mounted Results')
    this.recountOps()
  }
}
</script>

<style scoped>
</style>
