<template>
    <div class="container-fluid">
        <h3>Виды платежей</h3>
        <div v-if="false === isAppReady">
            <div class="app-loading-msg">Загрузка данных</div>
        </div>
        <div v-if="true === isAppReady" class="table-responsive">
            <AddBtn :model="model"></AddBtn>
            <ModelForm :model="model" :arDefault="arDefault" :arModelData="arModelData"></ModelForm>
            <DeleteForm :arModelData="arModelData"></DeleteForm>

            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название</th>
                    <th scope="col">Тип платежа</th>
                </tr>
                </thead>
                <transition-group name="list" tag="tbody">
                    <tr v-for="(data, index) in arModelData" v-bind:key="data.id">
                        <td>
                            <EditBtn :model="model" :index="index"></EditBtn>
                            <DeleteBtn :model="model" :index="index" :id="data.id"></DeleteBtn>
                        </td>
                        <td>{{data.name}}</td>
                        <td>{{ getPaytypeName(data.type) }}</td>
                    </tr>
                </transition-group>
            </table>
        </div>
    </div>
</template>

<script>
import model from '../mixins/model'
import ModelForm from './forms/PaytypeForm'
import { mapGetters } from 'vuex'

export default {
  name: 'SetupPaytypes',
  mixins: [model],
  components: {ModelForm},
  data () {
    return {
      // объект сущности должно совпадать как на фронте так и на бэкенде
      model: 'Paytype',
      // дефолтные поля
      arDefault: {
        'name': '',
        'type': 1
      }
    }
  },
  computed: {
    ...mapGetters({
      arModelData: 'getPaytypes',
      arTypeVariants: 'getPaytypeVariants'
    })
  },
  methods: {
    // Component specific
    getPaytypeName (id) {
      const obj = this.arTypeVariants[this.getPtIndex(id)]
      if (undefined !== obj) {
        return obj.name
      }
      return ''
    },
    getPtIndex (id) {
      return this.arTypeVariants.map(e => e.id).indexOf(id)
    }
  }
}
</script>

<style scoped></style>
