<template>
    <div class="container-fluid">
        <h3>Фиксированные расходы</h3>
        <div v-if="false === isAppReady">
            <div class="app-loading-msg">Загрузка данных</div>
        </div>
        <div v-if="true === isAppReady" class="table-responsive">
            <AddBtn :model="model"></AddBtn>
            <ModelForm :model="model" :arDefault="arDefault" :arModelData="arModelData"></ModelForm>
            <DeleteForm :arModelData="arModelData"></DeleteForm>

            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Название</th>
                    <th scope="col">Сумма</th>
                </tr>
                </thead>
                <transition-group name="list" tag="tbody">
                    <tr v-for="(data, index) in arModelData" v-bind:key="data.id">
                        <td>
                            <EditBtn :model="model" :index="index"></EditBtn>
                            <DeleteBtn :model="model" :index="index" :id="data.id"></DeleteBtn>
                        </td>
                        <td>{{data.name}}</td>
                        <td>{{formatCurrency(data.price)}}</td>
                    </tr>
                </transition-group>
            </table>
        </div>
    </div>
</template>

<script>
import model from '../mixins/model'
import helpers from '../mixins/helpers'
import ModelForm from './forms/CostForm'
import { mapGetters } from 'vuex'

export default {
  name: 'SetupCosts',
  mixins: [model, helpers],
  components: {ModelForm},
  data () {
    return {
      // объект сущности должно совпадать как на фронте так и на бэкенде
      model: 'Cost',
      // дефолтные поля
      arDefault: {
        'name': '',
        'price': 0
      }
    }
  },
  computed: {
    ...mapGetters({
      arModelData: 'getCosts'
    })
  }
}
</script>

<style scoped></style>
