<template>
    <div class="container-fluid">
        <h3 class="d-inline">Сотрудники</h3>
        <div class="d-inline">Всего: {{ arModelDataFiltered.length }}</div>
        <div v-if="false === isAppReady">
            <div class="app-loading-msg">Загрузка данных</div>
        </div>
        <div v-if="true === isAppReady" class="table-responsive">
            <AddBtn :model="model"></AddBtn>
            <ModelForm :model="model" :arDefault="arDefault" :arModelData="arModelDataFiltered"></ModelForm>
            <DeleteForm :arModelData="arModelDataFiltered"></DeleteForm>

            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отдел</th>
                    <th scope="col">Работает удаленно</th>
                    <th scope="col">ROI</th>
                    <th scope="col">Номер карты</th>
                    <th scope="col">Оклад на руки</th>
                    <th scope="col">Официальный оклад</th>
                </tr>
                </thead>
                <transition-group name="list" tag="tbody">
                    <tr v-for="(data, index) in arModelDataFiltered" v-bind:key="data.id">
                        <td>
                            <EditBtn :model="model" :index="index"></EditBtn>
                            <DeleteBtn :model="model" :index="index" :id="data.id"></DeleteBtn>
                            <!--<br>index:{{index}} id:{{data.id}}-->
                        </td>
                        <td>{{data.lastname}}</td>
                        <td>{{data.name}}</td>
                        <td>
                            <!--{{(data.departments)}}-->
                            {{showDepartments(data.departments)}}
                        </td>
                        <td>
                            <span v-if="1 === data.is_remote">Да</span>
                            <span v-else>Нет</span>
                        </td>
                        <td>{{data.roi}}</td>
                        <td>{{data.card_number}}</td>
                        <td>{{formatCurrency(data.wage_real)}}</td>
                        <td>{{formatCurrency(data.wage)}}</td>
                    </tr>
                </transition-group>
            </table>
        </div>
    </div>
</template>

<script>
import model from '../mixins/model'
import helpers from '../mixins/helpers'
import Filters from '../mixins/filters'
import ModelForm from './forms/EmployeeForm'
import { mapGetters } from 'vuex'

export default {
  name: 'SetupEmployees',
  mixins: [model, helpers],
  components: {ModelForm},
  data () {
    return {
      // объект сущности должно совпадать как на фронте так и на бэкенде
      model: 'Employee',
      // дефолтные поля
      arDefault: {
        'name': '',
        'lastname': '',
        'is_remote': 0,
        'roi': '',
        'card_number': '',
        'wage_real': '',
        'wage': '',
        'b24_id': '',
        'is_active': 1,
        'departments': '999'
      }
    }
  },
  computed: {
    ...mapGetters({
      arModelData: 'getEmployees',
      arDepartments: 'getDepartments'
    }),
    arModelDataFiltered: function () {
      // console.log('arModelDataFiltered', Filters.activeEmployee(this.arModelData))
      return Filters.activeEmployee(this.arModelData)
    }
  },
  methods: {
    showDepartments (val) {
      val = val.toString()
      if (!val.toString()) {
        return 'нет'
      }

      let deps = val.split(',').map(id => parseInt(id))

      let arRes = []
      deps.forEach(function (depId) {
        let depFilter = this.arDepartments.filter(it => it.id === depId)
        if (depFilter.length > 0) {
          arRes.push(depFilter[0].name)
        } else {
          arRes.push('#' + depId)
        }
      }, this)

      return arRes.join(', ')
    }
  }
}
</script>
