<template>
    <div class="container-fluid">
        <h3>Каналы</h3>
        <div v-if="false === isAppReady">
            <div class="app-loading-msg">Загрузка данных</div>
        </div>
        <div v-if="true === isAppReady" class="table-responsive">
            <AddBtn :model="model"></AddBtn>
            <ModelForm :model="model" :arDefault="arDefault" :arModelData="arFirms"></ModelForm>
            <DeleteForm :arModelData="arFirms"></DeleteForm>

            <table class="table table-sm">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Название</th>
                    <th scope="col">id в Bitrix24</th>
                </tr>
                </thead>
                <transition-group name="list" tag="tbody">
                    <tr v-for="(data, index) in arFirms" v-bind:key="data.id">
                        <td>
                            <EditBtn :model="model" :index="index"></EditBtn>
                            <DeleteBtn :model="model" :index="index" :id="data.id"></DeleteBtn>
                        </td>
                        <td>{{data.name}}</td>
                        <td>{{data.b24_id}}</td>
                    </tr>
                </transition-group>
            </table>
        </div>
    </div>
</template>

<script>
import model from '../mixins/model'
import ModelForm from './forms/FirmForm'
// import { mapGetters } from 'vuex'

export default {
  name: 'SetupFirms',
  mixins: [model],
  components: {ModelForm},
  data () {
    return {
      // объект сущности должно совпадать как на фронте так и на бэкенде
      model: 'Contractor',
      // дефолтные поля
      arDefault: {
        'name': '',
        'b24_id': '',
        'is_company': 1,
        'is_my': 1
      }
    }
  }
}
</script>
