<template>
    <div class="container-fluid mt-2">
        <MonthSelector></MonthSelector>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h3>По неделям</h3>
                <WeeklyChart></WeeklyChart>
            </div>
            <div class="col-sm-12 col-md-6">
                <h3>Весь год ({{queryYear}})</h3>
                <MonthlyChart></MonthlyChart>
            </div>
        </div>
    </div>
</template>

<script>
import WeeklyChart from './charts/WeeklyChart'
import MonthlyChart from './charts/MonthlyChart'
import MonthSelector from './other/MonthSelector'
import { mapGetters } from 'vuex'

export default {
  name: 'Stats',
  components: {WeeklyChart, MonthlyChart, MonthSelector},
  computed: {
    ...mapGetters(['queryYear'])
  }
}
</script>

<style scoped>
</style>
