<template>
    <div id="app">
        <Header></Header>

        <!-- отображаем тут компонент, для которого совпадает маршрут -->
        <router-view></router-view>

        <!--<br/><br/>-->
        <!--<div>BX24: {{isBx24Ready}}</div>-->
        <!--<div>Демо режим (локальные данные): {{isDemo}}</div>-->
        <!--<div>Попытки соединения: {{nBx24ReadyCount}}</div>-->
    </div>
</template>

<script>
/* global BX24 */
import Header from './components/Header'
// import {mapGetters, mapActions} from 'vuex'
import {mapActions} from 'vuex'

export default {
  name: 'App',
  data () {
    return {}
  },
  components: {
    Header
  },
  computed: {
    // ...mapGetters({
    //   isBx24Ready: 'isBx24Ready',
    //   isDemo: 'isDemo',
    //   nBx24ReadyCount: 'nBx24ReadyCount'
    // })
  },
  methods: {
    ...mapActions(['initBx24'])
  },
  created () {
    // console.log('App.vue created() call')
    this.initBx24()
  }
}
</script>

<style lang="scss">
    @import './styles/custom-bootstrap.scss';
    @import '../node_modules/bootstrap/scss/bootstrap.scss';
</style>
<style>
    @import './styles/custom.css';
</style>
<style>
    body {
        /*min-height: 1600px;*/
        /*height: 1600px;*/
    }

    #app {
        width: 100%;
        margin: 0 auto;
        /*min-height: 1600px;*/
        /*height: 1600px;*/
    }

    .w-90 {
        width: 90%;
    }
</style>
