<template>
    <div class="d-inline">
        <button class="btn btn-sm btn-success mb-1" data-toggle="modal" data-target="#idOperationForm" @click="newFormState($event)">
            <i class="fa fa-plus-circle"></i> Добавить
        </button>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  props: ['action', 'model'],
  name: 'AddBtn',
  computed: {
    ...mapGetters({
      arForms: 'arForms'
    })
  },
  methods: {
    ...mapActions(['setFormState', 'setFormOperation', 'setErrorState', 'setModalOffset']),
    newFormState (evt) {
      this.setErrorState({model: this.model, msg: ''})
      this.setFormState({model: this.model, status: !this.arForms[this.model]})
      this.setFormOperation({value: 'add'})

      this.setModalOffset(200) // todo magic
    }
  }
}
</script>
