<template>
    <div class="d-inline">
        <i class="fa fa-trash text-danger" data-toggle="modal" data-target="#idDeleteForm" @click="newDeleteTarget($event, {model, id, index})"></i>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'DeleteBtn',
  props: ['model', 'id', 'index'],
  methods: {
    ...mapActions(['setDeleteTarget', 'setErrorState', 'setModalOffset']),
    newDeleteTarget (evt, data) {
      // console.log('newDeleteTarget', data)
      this.setErrorState({model: this.model, msg: ''})
      this.setDeleteTarget(data)

      this.setModalOffset(evt.target.getBoundingClientRect().top)
    }
  }
}
</script>
