<template>
    <div>
        <div class="modal fade show" id="idDeleteForm"
             tabindex="-1" role="dialog" aria-labelledby="modalLabel"
             :style="{ top: modalOffset + 'px'}"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div v-show="whenRequestInProgress" class="app-loading"></div>
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Вы уверены, что хотите удалить {{modelTitle}}?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                :disabled="whenRequestInProgress">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="submitDeleteForm">
                            <div class="text-center">
                                {{modelDesc}}
                            </div>
                            <div v-if="hasErrors" class="alert alert-danger">
                                {{ errorText }}
                            </div>
                            <div class="modal-footer">
                                <i class="dismiss-btn-delete" data-dismiss="modal"></i>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                        :disabled="whenRequestInProgress">Отмена
                                </button>
                                <button type="submit" class="btn btn-danger" :disabled="whenRequestInProgress">Да
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// import controlForm from '../../mixins/controlForm'
import { mapActions, mapGetters } from 'vuex'
import requestPreloader from '../../mixins/requestPreloader'

export default {
  name: 'DeleteForm',
  mixins: [requestPreloader],
  props: ['arModelData', 'model'],
  computed: {
    ...mapGetters(['arDeleteTarget', 'arErrors', 'modalOffset']),
    modelTitle: function () {
      if (!this.arDeleteTarget.model) {
        return ''
      }

      switch (this.arDeleteTarget.model) {
        case 'Firm':
          return 'канал'
        case 'Cost':
          return 'расход'
        case 'Employee':
          return 'сотрудника'
        case 'Operation':
          return 'операцию'
        case 'Paytype':
          return 'тип платежа'
        case 'Contractor':
          return 'контрагента'
      }
    },
    modelDesc: function () {
      if (!this.arModelData[this.arDeleteTarget.index]) {
        return ''
      }

      const item = JSON.parse(JSON.stringify(this.arModelData[this.arDeleteTarget.index]))
      switch (this.arDeleteTarget.model) {
        case 'Firm':
          return item.name
        case 'Cost':
          return item.name
        case 'Employee':
          return item.name + ' ' + item.lastname
        case 'Operation':
          return 'ID #' + item.id
        case 'Paytype':
          return item.name
        case 'Contractor':
          return item.name
      }
    },
    hasErrors: function () {
      if (this.arErrors[this.arDeleteTarget.model] === undefined) {
        return false
      }
      return this.arErrors[this.arDeleteTarget.model].length > 0
    },
    errorText: function () {
      if (this.arDeleteTarget.model === undefined) {
        return ''
      }
      return this.arErrors[this.arDeleteTarget.model]
    }
  },
  methods: {
    ...mapActions(['actionDelete', 'setFormSpinner']),
    submitDeleteForm () {
      // console.log('submitDeleteForm')
      this.setFormSpinner({status: true})
      this.actionDelete()
    }
  }
}
</script>
