<template>
    <div class="d-inline">
        <i class="fa fa-edit text-primary" data-toggle="modal" data-target="#idOperationForm" @click="newEditState($event)"></i>
    </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  props: ['index', 'model'],
  name: 'EditBtn',
  methods: {
    ...mapActions(['setEditState', 'setFormOperation', 'setErrorState', 'setModalOffset']),
    newEditState (evt) {
      // console.log(this.model)
      this.setErrorState({model: this.model, msg: ''})
      this.setEditState({model: this.model, index: this.index})
      this.setFormOperation({value: 'edit'})

      this.setModalOffset(evt.target.getBoundingClientRect().top)
    }
  }
}
</script>
