<template>
    <div>
        <div class="modal fade show" id="idOperationForm"
             tabindex="-1" role="dialog" aria-labelledby="modalLabel"
             :style="{ top: modalOffset + 'px'}"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div v-show="whenRequestInProgress" class="app-loading"></div>
                        <h5 class="modal-title" id="modalLabel">{{formTitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeForm" :disabled="whenRequestInProgress">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="submitForm">
                            <table class="table table-sm table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Работает удаленно</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>
                                        <input type="hidden" class="form-control" v-model="arData.id">
                                        <input type="text" class="form-control" v-model="arData.name">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" v-model="arData.lastname">
                                    </td>
                                    <td>
                                        <select class="form-control" v-model="arData.is_remote">
                                            <option v-bind:value="0">Нет</option>
                                            <option v-bind:value="1">Да</option>
                                        </select>
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-sm table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Номер карты</th>
                                    <th scope="col">Оклад на руки</th>
                                    <th scope="col">Оклад</th>
                                    <!--<th scope="col">id в Bitrix24</th>-->
                                </tr>
                                </thead>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" v-model="arData.card_number">
                                    </td>
                                    <td>
                                        <input type="number" step="0.01" class="form-control" v-model="arData.wage_real">
                                    </td>
                                    <td>
                                        <input type="number" step="0.01" class="form-control" v-model="arData.wage">
                                    </td>
                                    <!--<td>-->
                                        <!--<input type="text" class="form-control" v-model="arData.b24_id">-->
                                    <!--</td>-->
                                </tr>
                            </table>
                            <div v-if="hasErrors" class="alert alert-danger">
                                {{ errorText }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary dismiss-btn" data-dismiss="modal" @click="closeForm" :disabled="whenRequestInProgress">Отмена</button>
                                <button type="submit" class="btn btn-primary" :disabled="whenRequestInProgress">Сохранить</button>
                            </div>
                            {{ formWatch() }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import controlForm from '../../mixins/controlForm'
import requestPreloader from '../../mixins/requestPreloader'

export default {
  name: 'EmployeeForm',
  props: ['model', 'arDefault', 'arModelData'],
  mixins: [controlForm, requestPreloader],
  computed: {
    formTitle: function () {
      switch (this.operation) {
        case 'add':
          return 'Новый сотрудник'
        case 'edit':
          return 'Изменение сотрудника'
      }
      return ''
    }
  }
}
</script>
