<template>
    <div class="modal fade show" id="idLoginForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div v-show="whenLoginInProgress" class="app-loading"></div>
                    <h5 class="modal-title" id="modalLabel">Введите ключ приложения</h5>
                    <button type="button" class="close login-dismiss" data-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form @submit.prevent="submitLoginForm">
                        <table class="table table-sm table-borderless">
                            <thead>
                            <tr>
                                <th scope="col">Адрес портала</th>
                                <th scope="col">Ключ приложения</th>
                            </tr>
                            </thead>
                            <tr>
                                <td>
                                    <input type="text" class="form-control" v-model="Url" maxlength="32" placeholder="my.bitrix24.ru">
                                </td>
                                <td>
                                    <input type="password" class="form-control" v-model="Code" maxlength="32">
                                </td>
                            </tr>
                        </table>
                        <div v-if="codeLengthCheck.length > 0" class="alert alert-danger">
                            {{ codeLengthCheck }}
                        </div>
                        <div v-if="loginError.length > 0" class="alert alert-danger">
                            {{ loginError }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning float-left"
                                    :disabled="whenLoginInProgress" data-dismiss="modal"
                                    @click="setDemoMode">Демо режим</button>
                            <button type="submit" class="btn btn-primary" :disabled="whenLoginInProgress">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
import Api from '../../store/api'

export default {
  name: 'LoginByCodeForm',
  data () {
    return {
      whenLoginInProgress: false,
      Code: '',
      Url: '',
      loginError: ''
    }
  },
  computed: {
    codeLengthCheck () {
      if (
        (this.Code.length > 0 && this.Code.length < Api.Const.CODE_LENGTH) ||
        this.Code.length > Api.Const.CODE_LENGTH
      ) {
        return 'код должен быть длиной 32 символа'
      }
      return ''
    }
  },
  methods: {
    ...mapActions(['setDemoMode', 'setWorkMode', 'setBx24SecretCode', 'setBx24Ready', 'setUrlPortal']),
    submitLoginForm: function () {
      if (this.Code.length !== Api.Const.CODE_LENGTH) {
        return
      }

      console.log('Login try with code = ', this.Code)
      this.whenLoginInProgress = true
      const that = this

      Api.loginByKey({code: this.Code, operation: 'verify'}).then(response => {
        that.whenLoginInProgress = false
        console.log('loginByKey response = ', response)
        const result = response.data.main
        if (result.error === false) {
          console.log('Login OK')
          that.loginError = ''
          $('.login-dismiss').click()
          this.setWorkMode({sCode: this.Code})
          this.setUrlPortal({url: this.Url})
        } else {
          that.loginError = result.msgHuman
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
