<template>
    <div>
        <div class="modal fade show" id="idOperationForm"
             tabindex="-1" role="dialog" aria-labelledby="modalLabel"
             :style="{ top: modalOffset + 'px'}"
             aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div v-show="whenRequestInProgress" class="app-loading"></div>
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">{{formTitle}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="closeForm" :disabled="whenRequestInProgress">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form @submit.prevent="submitForm">
                            <table class="table table-sm table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Тип платежа</th>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Канал</th>
                                    <th scope="col">Сумма</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>
                                        <select class="form-control" v-model="arData.paytype_id">
                                            <option v-for="ar in arPaytypes" v-bind:key="ar.id" v-bind:value="ar.id">
                                                {{ar.name}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="date" class="form-control" v-model="arData.date">
                                    </td>
                                    <td>
                                        <select class="form-control" v-model="arData.firm_id">
                                            <option value="">не указывать</option>
                                            <option v-for="ar in arFirms" v-bind:key="ar.id" v-bind:value="ar.id">
                                                {{ar.name}}
                                            </option>
                                        </select>
                                    </td>
                                    <td>
                                        <input type="number" step="0.01" class="form-control" v-model="arData.summ">
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-sm table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">
                                        Контрагент
                                        <span v-if="isNewContractor">
                                            <span class="badge badge-primary">новый</span>
                                            <span v-show="isDemo" class="badge badge-danger">не поддерживается в Demo режиме</span>
                                        </span>
                                    </th>
                                    <th scope="col">Сотрудник</th>
                                    <th scope="col">Менеджер</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>
                                        <Autocomplete
                                                :arModelData="arContractors"
                                                :arModelDataFull="arContractors"
                                                v-model="arData.contractor_id"
                                                :propName="'contractor_id'"
                                                :emptyModel="emptyContractorModel">
                                        </Autocomplete>
                                        <!--{{arData.contractor_id}}-->
                                    </td>
                                    <td>
                                        <Autocomplete
                                            :arModelData="arEmployeesFiltered"
                                            :arModelDataFull="arEmployees"
                                            v-model="arData.employee_id"
                                            :propName="'employee_id'"
                                            :emptyModel="emptyEmployeeModel">
                                        </Autocomplete>
                                        <!--{{arData.employee_id}}-->
                                    </td>
                                    <td>
                                        <Autocomplete
                                            :arModelData="arEmployeesFiltered"
                                            :arModelDataFull="arEmployees"
                                            v-model="arData.manager_id"
                                            :propName="'manager_id'"
                                            :emptyModel="emptyEmployeeModel">
                                        </Autocomplete>
                                        <!--{{arData.manager_id}}-->
                                    </td>
                                </tr>
                            </table>
                            <table class="table table-sm table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">Счет</th>
                                    <th scope="col">Комментарий</th>
                                </tr>
                                </thead>
                                <tr>
                                    <td>
                                        <input type="text" class="form-control" v-model="arData.account">
                                    </td>
                                    <td>
                                        <input type="text" class="form-control" v-model="arData.comment">
                                    </td>
                                </tr>
                            </table>
                            <div v-if="hasErrors" class="alert alert-danger">
                                {{ errorText }}
                            </div>
                            <div class="modal-footer">
                                <i class="dismiss-btn" data-dismiss="modal"></i>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" @click="closeForm" :disabled="whenRequestInProgress">Отмена</button>
                                <button type="submit" class="btn btn-primary" :disabled="whenRequestInProgress">Сохранить</button>
                            </div>
                            {{ formWatch() }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import controlForm from '../../mixins/controlForm'
import requestPreloader from '../../mixins/requestPreloader'
import Autocomplete from '../other/Autocomplete'
import Filters from '../../mixins/filters'

export default {
  name: 'OperationForm',
  props: ['model', 'arDefault', 'arModelData'],
  mixins: [controlForm, requestPreloader],
  components: {Autocomplete},
  data () {
    return {
      emptyEmployeeModel: {'name': 'не', 'lastname': 'указывать', 'id': ''},
      emptyContractorModel: {'name': 'не', 'lastname': 'указывать', 'id': ''}
    }
  },
  computed: {
    formTitle: function () {
      switch (this.operation) {
        case 'add':
          return 'Новая запись'
        case 'edit':
          return 'Изменение записи'
      }
      return ''
    },
    arEmployeesFiltered: function () {
      // return this.arEmployees.filter(empl => empl.is_active === 1)
      return Filters.activeEmployee(this.arEmployees)
    },
    isNewContractor: function () {
      return (
        this.arData.contractor_id &&
        this.arData.contractor_id !== '' &&
        this.arData.contractor_id.toString() === this.arData.contractor_id
      )
    }
  }
}
</script>

<style scoped>
</style>
